/*==========================
  = Ionut: 27-feb-2018     =
  = Add new design here    =
  ==========================
*/
:root {
	--light: #F9CF00;
	--cerulean: #4484CE;
	--codepen-black: #262626;
	--gray-nine: #999999;
	--gray-three: #333333;
	--gray-d: #D2D1D1;
	--gray-two: #2A2A01;
	--gray-c: #CCCCCC;
	--gray-e: #EEEEEE;
	--gray-ef: #EEEFF3;
	--gray-f-nine: #F9F9F9;
	--gray-six: #666666;
	--gray-two-two: #222222;
	--gray-a-seven: #A7A7A7;
	--gray-e-eight: #E8E8E8;
	--pure-black: #000000;
	--pure-white: #FFFFFF;
	--my-blue: #0630FF;
	--blue-seven: #0077E2;
	--red-button: #D84B6B;
	--yellow-e: #E5A100;
  }
* {
	margin: 0;
	padding: 0;
}
.spacer-dash{clear: both; border-bottom: 1px dashed var(--gray-nine);}

.navbar {
	border-radius: 0; /* override default bootstrap's "4px" */
	border: 1px solid var(--pure-black); /* override default bootstrap's "1px solid transparent" */
}
.container-fluid-white {
	background-color: var(--pure-white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 60px;
}
.topmenu {
	background-color: var(--codepen-black);
	color: var(--light);
	min-height: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.left-topmenu {
	display: flex;
	justify-content: space-between;
}
.right-topmenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
a.topmenu-a {
	color: var(--light);
}

.fa-iww {
	font-size: 1.5em;
	padding: 0 .5em;
}
.fa-iww:hover {
	color: var(--pure-white) !important;
}
img.img-flag {
	height: 24px;
	padding: 0 5px;
}
.navbar-nav-fit {padding: 0 1px;}
.navbar-nav.navbar-nav-fit > .open > a:hover {
	background-color: transparent;
}
.navbar-nav-fit li a {
	padding: 0;
}
.navbar-nav.navbar-nav-fit > li > a {
	color: var(--pure-black);
}
a.navbar-brand-fit {
	padding: 1px;
}
.navbar-form {
	height: 30px;
	margin: 0 10px;
	padding: 0;
	border-color: transparent !important;
	box-shadow: none;
}
input.form-control {
	height: 30px;
}
.input-group-btn {
	height: 30px;
}
.input-group-btn > button.btn.btn-default {
	height: 30px;
	display: flex;
	align-items: center;
}
img.logo {
	margin: -3px 0 2px 0;
}
li.activ {
	background-color: var(--light);
	color: var(--pure-black) !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: var(--pure-black);
	padding: 20px 20px;
}
.navbar-inverse .navbar-nav > li > a.lang-color {
	color: var(--pure-white);
	padding: 20px 20px;
}
.navbar-inverse .navbar-nav > li > a.lang-color:hover {
	color: var(--light);
	padding: 20px 20px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: var(--my-blue);
	padding: 20px 20px;
}
.navbar-inverse .navbar-toggle {
	background-color: var(--gray-three);
}

.blogtitles {
	color: var(--pure-black);
	text-decoration: none;
}
.blogtitles:hover {
	color: var(--gray-two);
	text-decoration: none;
}
.side-content {
	height: 100vh;
}
.blog-cat-list {
	list-style: none;
}
.cat-box {
	border-left: 5px solid var(--cerulean);
	background-color: var(--light);
	border-radius: 2px;
	padding: 10px 0 10px 10px;
	margin-bottom: 5px;
}
.blog-article {
	padding: 2px 0 2px 0;
	border-top: 1px dotted var(--pure-black);
}
.fldset-style {
	border: 2px groove var(--pure-black) !important;
	padding: 0 1em 1em 1em !important;
	margin: 0;
	box-shadow: 0px var(--pure-black);
}
.lgnd-style {
	font-size: 1.5em !important;
	font-weight: 500 !important;
	text-align: left !important;
	width: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: var(--pure-black);
}
.input-group-addon {
	text-align: left;
}
.btn-grp-right {
	display: flex;
	justify-content: flex-end;
}
.separator-space {
	width: .5em;
}
.port-top {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.port-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.svg-text-big {font: italic 80px sans-serif}
svg text {transition: fill 0.5s}
svg:hover text {fill: var(--light); font-size: 100px}
svg .flashy {transition: fill 0.5s}
svg:hover .flashy {fill: var(--light)}
svg g.flashy-g {
	visibility: hidden;
	transition: visibility 0.5s;
}
svg:hover g.flashy-g {
	visibility: visible;
}
.what-we-do {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.port-spec {
	display: flex;
	flex-flow: column;
	align-items: center;
}
#photos {
	/* Prevent vertical gaps */
	line-height: 0;
	-webkit-column-count: 5;
	-webkit-column-gap:   2px;
	-moz-column-count:    5;
	-moz-column-gap:      2px;
	column-count:         5;
	column-gap:           2px;  
}
  
#photos img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	transition: transform 0.5s;
}
#photos img:hover {
	transform: scale(2);
	border-radius: 5px;
}
.photo-anchor {
	padding: 2px 2px;
}
@media (max-width: 1200px) {
	#photos {
	-moz-column-count:    4;
	-webkit-column-count: 4;
	column-count:         4;
	}
}
@media (max-width: 1000px) {
	#photos {
	-moz-column-count:    3;
	-webkit-column-count: 3;
	column-count:         3;
	}
}
@media (max-width: 800px) {
	#photos {
	-moz-column-count:    2;
	-webkit-column-count: 2;
	column-count:         2;
	}
}
@media (max-width: 400px) {
	#photos {
	-moz-column-count:    1;
	-webkit-column-count: 1;
	column-count:         1;
	}
}

#iwwFooter {
    background-color: var(--codepen-black);
    color: var(--pure-white);
    padding-top: 30px;
}

#iwwFooter .footer-copyright {
    background-color: var(--gray-three);
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#iwwFooter .row {
    margin-bottom: 60px;
}

#iwwFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#iwwFooter .footer-copyright p {
    margin: 10px;
    color: var(--gray-c);
}

#iwwFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#iwwFooter h5 {
    font-size: 13px;
    color: var(--pure-white);
    font-weight: bold;
    margin-top: 30px;
}

#iwwFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: var(--pure-white);
}

#iwwFooter a {
    color: var(--gray-d);
    text-decoration: none;
}

#iwwFooter a:hover,
#iwwFooter a:focus {
    text-decoration: none;
    color: var(--pure-white);
}

#iwwFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#iwwFooter .social-networks a {
    font-size: 32px;
    color: var(--gray-f-nine);
    padding: 10px;
    transition: 0.2s;
}

#iwwFooter .social-networks a:hover {
    text-decoration: none;
}

#iwwFooter .facebook:hover, #iwwFooter .twitter:hover, #iwwFooter .google:hover {
    color: var(--blue-seven);
}

#iwwFooter .btn {
    color: var(--pure-white);
    background-color: var(--red-button);
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

#iwwFooter h5{font-family: Tahoma, Geneva, sans-serif;}
#iwwFooter a i.special{display: none;}
#iwwFooter a:hover i.special{display: inherit;}

@media screen and (max-width: 767px) {
    #iwwFooter {
        text-align: center;
    }
}
/*End of new design*/




body {
	margin: 0;
	padding: 0;
	/*color: #666;*/
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: var(--gray-ef);
}

#main { 
	background-image: url(../images/webdesing_main.png); 
}

#subpage { 
	background-image: url(../images/webdesign_sub.png); 
}

a, a:link, a:visited { 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

a.more { 
	display: block; 
	width: 93px; 
	height: 29px; 
	line-height: 29px; 
	color: var(--pure-black); 
	text-align: center; 
	background: url(../images/webdesign_button.png) no-repeat; 
	font-weight: 700; 
	text-decoration: none; 
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:var(--pure-black); }
cite a, cite a:link, cite a:visited  { font-weight: bold; color:var(--pure-black); }
cite span { font-weight: 400; color: var(--gray-three); }
em { color: var(--pure-black); }

h1, h2, h3, h4, h5, h6 { 
	color: var(--pure-black); 
	font-weight: normal; 	
	font-family: Georgia, "Times New Roman", Times, serif; 
}

h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 38px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 30px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 20px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_frame_300 { 
	display: inline-block; 
	position: relative; 
	width: 300px; 
	height: 147px; 
	margin-bottom: 15px;
}
 
.image_frame_300 span { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 300px; 
	height: 147px; 
	background: url(../images/image_frame_300.png); 
}

.image_frame_300 img { 
	width: 300px; 
	height: 135px; 
}
.image_frame_900 img { 
	width: 900px; 
	height: 405px; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.lista { 
	list-style: decimal-leading-zero; 
	padding: 0 0 0 15px; 
	margin: 0 0 0 15px; 
}

.lista li { 
	color:var(--gray-three); 
	margin-bottom: 8px; 
}

.lista li a { 
	color: var(--gray-three); 
	font-weight: normal; 
	font-size: 12px; 
	text-decoration: none; 
}

.lista li a:hover { 
	text-decoration: underline; 
}

#container { 
	width: 960px; 
	padding: 0 10px; 
	margin: 0 auto; 
}

#header {
	width: 960px;
	height: 90px;
}

#sitetitle { 
	float: left; 
	margin-top: 40px; 
}

#sitetitle h1 { 
	margin: 0; 
	padding: 0; 
}

#sitetitle h1 a { 
	display: block; 
	width: 203px; 
	height: 33px; 
	color: var(--pure-white); 
	text-indent: -10000px; 
	background: url(../images/webdesign.jpg) no-repeat top left; 
}

#menu { 
	float: right; 
	margin-top: 60px; 
}

#middle { 
	clear: both;
	position: relative;
	width: 960px;
	height: 360px;
	padding: 30px 0;
}

#midtitle { 
	font-size: 30px; 
	font-weight: 400; 
	line-height: 40px; 
	color: var(--pure-black); 
	margin-bottom: 40px; 	
	font-family: Georgia, "Times New Roman", Times, serif;  
}

#midtitle span { 
	clear: both; 
	display: block; 
	color: var(--gray-six); 
	font-size: 30px; 
}

#midleft { 
	float:left; 
	width: 430px;
}

#mid_slider { 
	float: right; 
	width: 480px; 
	height: 360px; 
	padding-bottom: 22px; 
	background: url(../images/webdesign_flash_presentation.png) bottom center no-repeat;  
}

#midleft p { 
	color: var(--gray-three); 
	font-family: Tahoma, Geneva, sans-serif; 
	margin-bottom: 30px; 
	font-size: 16px; 
	line-height: 26px; 
}

#iwwmain {
	clear: both;
	width: 960px;
	padding: 20px 0 20px;
}

#iwwcontent {
	float: left;
	width: 600px;
}

#iwwmargin {
	float: right;
	width: 300px;
}

.col_fw { 
	margin-bottom: 40px; 
	padding-bottom: 30px; 
	border-bottom: 1px dashed var(--gray-nine); 
}

.col_fw_last { 
	padding-bottom: 20px; 
}

.col_w300 { 
	width: 300px; 
}

.col_allw300 { 
	float: left; 
	width: 300px; 
	margin-right: 30px; 
}

.col_w240 { 
	float: left; 
	width: 220px; 
	padding-right: 20px; 
}

.col_w630 { 
	width: 630px; 
}

.col_rm { 
	margin: 0; 
}

.fp_service_box img { 
	float: left; 
	margin-right: 10px; 
}

.fp_service_box h3 { 
	font-size: 20px; 
	margin-bottom: 20px; 
}

.fp_service_box h3 span { 
	clear: both; 
	font-size: 14px; 
	color: var(--gray-nine); 
}

.fp_service_box p { 
	margin-bottom: 20px; 
}

.news_box {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed var(--gray-nine)
}

.news_box a { 
	font-weight: 700;  
}

.post_box { 
	clear: both; 
	margin-bottom: 40px; 
	padding-bottom: 30px; 
	border-bottom: 1px dashed var(--gray-nine); 
}

.post_box img { 
	padding: 4px; 
	border: 1px solid var(--gray-nine); 
	margin-bottom: 15px; 
}

.post_box img.default { 
	padding: 0px !important; 
	border: 0 !important;  
}

.post_box h2 { 
	font-size: 34px; 
	padding: 0 0 10px 0; 
	margin-bottom: 5px; 
	line-height: 34px; 
}

.post_meta { 
	margin-bottom: 20px; 
}

#gallery { 
	margin: 0; 
	padding: 0; 
}

.gallery_box { 
	display: block; 
	float: center;
	width: 900px; 
	margin: 20px 30px 30px 20px;  
}

.lbox { 
	margin-right: 0; 
}

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: var(--gray-three); 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: var(--gray-e); 
	border: 1px solid var(--gray-c); 
}

.pagging ul li a:hover { 
	background: var(--yellow-e); 
	color: var(--pure-white);  
}

#iwwcontact { 
	padding: 0; 
	width: 450px; 
}

#iwwcontact form { 
	margin: 0px; 
	padding: 0px; 
}

#iwwcontact form .input_field { 
	width: 300px; 
	padding: 5px; 
	color: bar(--gray-two-two); 
	border: 1px solid var(--gray-a-seven);  
	background: var(--gray-e-eight); 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#iwwcontact form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 14px; 
}

#iwwcontact form textarea { 
	width: 438px; 
	height: 200px; 
	padding: 5px; 
	border: 1px solid var(--gray-a-seven);  
	background: var(--gray-e-eight); 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#iwwcontact form .submit_btn { 
	margin: 10px 0px;
	padding: 5px 14px;
	color: #222; 
	border: 1px solid var(--gray-a-seven);  
	background: var(--gray-e-eight); 
	font-size:14px; 
}

#map img { border: 5px solid var(--pure-white) }

#footer_container {
	clear: both;
	width: 100%;
	background: var(--pure-black);
}

#footer {
	clear: both;
	width: 960px;
	padding: 30px 10px 15px;	
	margin: 0 auto;
	color: var(--gray-six);
	text-align: center;
}